
@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-up-title {
    0%{
        opacity: 0;
        transform: translateY(70px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


body { 
    background-image: url('../assets/img/homepage4.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
    margin: 0;  
    overflow-x: hidden;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
} 

.navbar-color {
    /* background-color:#95a77f !important; */
    background-image: url('../assets/img/navBarImage.jpg');
}

.title-style{    
    font-weight: bold;
    font-size: large;
}

.centered-title h1 {    
    animation: fade-up-title 1s;
    text-align: center;
    font-size: 50px;
    color: #214d1b96;
    margin-top: 100px; 
}

.web-slogan{
    color: #2e6c2596;
    font-size: 25px;
    animation: fade-up-title 1s;
    text-align: center;
    margin-bottom: 50px;
}

.home-cards{
    display: flex;
    justify-content: center;   
    
}

.home-cards .card {
    margin: 0 10px;
    animation: fade-up-title 3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);    
}

.home-cards .card .card-body{
    text-align: center;
}

.aboutus-container {
    animation: fade-up 0.7s;
    max-width: 1000px;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.8); 
}
.aboutus-container h2 {
    color: #2e6c2596;
    text-align: center;
}

.loginRegister-container {
    animation: fade-up 0.7s;    
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.8); 
}

#panel1 .accordion-button {
    background-color: #becf9bdb !important;    
}

.footer{
    background-color: rgba(23, 46, 11, 0.849);
    margin-top: auto; 
    padding-top: 20px;
    color: whitesmoke;
}

.body-class{
    margin-bottom: 40px;
}

.initial-content h2{
    animation: fade-up 0.7s; 
    padding-top: 30px;
    padding-left: 30px;
}
.welcome-user{
    animation: fade-up 0.7s; 
    padding-bottom: 10px;
    padding-left: 30px;
}
.products-div{
    animation: fade-up 0.7s; 
    padding: 30px;
}

.col-2 {
    position: -webkit-sticky; 
    position: sticky;
    top: 100px; 
    height: 25vh;    
    background-color: rgb(191 209 159) !important;
    padding: 30px;
    border-radius: 10px;
     
}











