
:root{
    color-scheme: light dark;
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
@keyframes fade-up-title {
    0%{
        opacity: 0;
        transform: translateY(70px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes show{
    from{
        opacity: 0;
        scale: 25%;
    }

    to{
        opacity: 1;
        scale: 100%;
    }
}

@keyframes typing{
    from{
        width: 0px;
    }    
}

@keyframes transparent{
    50%{
        border-color: transparent;
    }    
}

body { 
    background-image: url('../assets/img/homepage4.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;    
    margin: 0;  
    overflow-x: hidden;  
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
} 

.modal-xl{
    max-width: 90%;
}

.navbar-color {
    background-color:#7e9772 !important; 
    /* background-image: url('../assets/img/navBarImage.jpg'); */    
}

.navbar-color a:not(.dropdown-item) {    
    position: relative;
    margin-left: 20px;
    color: white;
    font-size: 20px;
    
}

.nav-item a::not(.dropdown-item):hover{
    color: white !important;
    
}

.navbar-color a:not(.dropdown-item)::before{
    content: '';
    position: absolute;
    top: 80%;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(255, 255, 255);
    color: white;
    transition: .3s;
}

.account-name h4{
    color: white !important;
    font-weight: 100;
    align-items: center;
    padding-right: 20px;
    font-size: 20px;
    
}

.progress{
    margin: 20px;
}

.progress-bar{
    background-color: rgba(86, 111, 73, 0.726);
}

.navbar-color a:not(.dropdown-item):hover::before{
    width: 100%;
    color: white;
}

.title-style{        
    font-size: 30px !important;
    color: #769767;
}

.centered-title h1 {    
    animation: fade-up-title 1s;
    text-align: center;
    font-size: 50px;
    color: #214d1b96;
    margin-top: 100px; 
    
}

.home-cards{
    display: flex;
    justify-content: center;       
}

.home-cards .card {
    margin: 0 10px;
    animation: fade-up-title 3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);    
}

.home-cards .card .card-body{
    text-align: center;
}

.aboutus-container {
    animation: fade-up 0.7s;
    max-width: 1000px;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin-top: 122px !important;
    background-color: rgba(255, 255, 255, 0.8); 
}

.table-container {
    /* overflow-x: auto; Agrega desplazamiento horizontal si la tabla es más ancha que el contenedor */
    animation: fade-up 0.7s;
    max-width: 2000px;
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin: 50px auto 0 auto; /* Esto centra el div horizontalmente */
    background-color: rgba(255, 255, 255, 0.8);
}


.aboutus-container h2 {
    color: #2e6c2596;
    text-align: center;
}

.loginRegister-container {
    animation: fade-up 0.7s;    
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin-top: 122px;
    background-color: rgba(255, 255, 255, 0.8); 
}


.requests-cards{
    animation: fade-up 0.7s;    
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    /* margin-top: 122px; */
    background-color: rgba(255, 255, 255, 0.8);
    
}

.total-requests-card{
    animation: fade-up 0.7s;    
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);    
    background-color: rgba(255, 255, 255, 0.8);

}

.points-total {
    font-size: 1.3rem !important;
    color: #53803e;
    font-weight: bold;
}

#panel1 .accordion-button {
    background-color: #becf9bdb !important;    
}

.footer{
    background-color: rgba(23, 46, 11, 0.849);
    margin-top: auto; 
    padding-top: 20px;
    color: whitesmoke;
}

.body-class{
    margin-bottom: 120px;
}

.initial-content h2{
    animation: fade-up 0.7s; 
    padding-top: 30px;
    padding-left: 30px;
    color: #769767;
}


.welcome-user{
    animation: fade-up 0.7s; 
    padding-bottom: 10px;
    padding-left: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products-div{
    animation: fade-up 0.7s; 
    padding: 30px;
}

.col-2 {
    position: -webkit-sticky; 
    position: sticky;
    top: 100px; 
    height: 30vh;    
    /* background-color: rgb(191 209 159) !important; */
    /* padding: 30px; */
    border-radius: 0px;   
}

.col{
    view-timeline-name: --col;
    view-timeline-axis: block;
    animation-timeline: --col;
    animation-name: show;    
    animation-range: entry 1%;
}

.web-slogan {
    font-size: 25px;
    animation: fade-up-title 1s;
    color: #20491ac4;
    display: flex;
    justify-content: center;   
    text-align: center;   
    margin-bottom: 90px;
    margin-top: 40px;
} 

.typing-text {
    animation: typing 2.5s steps(35), transparent .5s step-end infinite alternate;
    width: 36.1em;
    white-space: nowrap;
    overflow: hidden;    
    border-right: 3px solid;   
}

.shadow{
    background-color: rgba(127, 165, 98, 0.89) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}


.info-content{
    display: flex;
    margin-left: 30px !important;
    
    margin-right: 40px !important;
    animation: fade-up 0.7s; 
}

.info-content p {    
    color: rgba(47, 79, 79, 0.74);
    font-size: 16px; 
    font-weight: bold;  
    margin-right: 4px;
    cursor: pointer;
    /* text-decoration: underline; */
    
}


.info-content p:hover {    
    color: rgba(87, 131, 95, 0.74);  
    
}





















