{% extends 'ecoApp/base.html' %}

{% block content %}

<div class="container-sm aboutus-container" style="text-align: justify;">
    <h2>About EcoRecycle</h2>    
    <div class="accordion mt-4" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panel1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              <strong>What is EcoRecycle?</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <p>The main objective of my project is to create a digital platform where users can recycle their broken or outdated items, including old appliances, cardboard materials, metals, furniture, plastic articles, and more, thereby actively contributing to recycling initiatives. This goal is accomplished through the development of an innovative web platform that simplifies recycling processes and advocates for environmental sustainability.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panel1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              <strong>What we offer?</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>Our platform provides users with the flexibility to designate the items they intend to recycle, granting them the option to either schedule a home pickup service or personally drop off the items at a designated collection center. To incentivize engagement in recycling endeavors, participants will earn monetary rewards in the form of points, thereby fostering their dedication to recycling, promoting environmental awareness, and bolstering support for the circular economy.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panel1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              <strong>Thank you!</strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <p>
                    By becoming part of our platform, users not only play a vital role in safeguarding our planet by ensuring the proper recycling of their unwanted items but also participate in a collective endeavor that prioritizes sustainability and environmental responsibility. Together, we have the power to make a substantial impact on preserving our environment for future generations.</p> 
            </div>
          </div>
        </div>
      </div>
</div>



{% endblock %}