{% extends 'ecoApp/base.html' %}

{% block content %}

<div class="centered-title">
    <h1>EcoRecycle</h1>
</div>  
<div class="web-slogan">
    <h3 class="typing-text">Turn your waste into rewards: EcoRecycle, where every recycling effort matters.</h3>
</div>   
<div class="home-cards">
    <div class="card" style="width: 18rem;">
        <img src="ecoApp/static/assets/img/profileGreenRedimensionada.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Register and be part of our website</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="ecoApp/static/assets/img/electrodomesticoRecicla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Recycle everything that no longer works!</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="ecoApp/static/assets/img/coinsPlants2Redimensionada.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Earn money while helping the planet!</p>
        </div>
    </div>
</div>
    
{% endblock %}