{% extends 'ecoApp/base.html' %}

{% block content %}

<div class="centered-title">
    <h1>EcoRecycle</h1>
</div>  
<div class="web-slogan">
    Turn your waste into rewards: EcoRecycle, where every recycling effort matters.
</div>   
<div class="home-cards">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="ecoApp/static/assets/img/electrodomesticoRecicla.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="ecoApp/static/assets/img/coinsPlants2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
    
{% endblock %}