{% extends 'ecoApp/base.html' %}

{% block content %}

{% load static %}

<!-- mostra els missatges inicials de la page -->
<div class="initial-content" style="margin-top: 60px;"> 
    <h2>PRODUCTS</h2>
    
    {% if request.user.is_authenticated %}
      <div class="welcome-user">
        <h5>Hello {{user}}, you have {{ user.profile.ProfilePoints }} points!</h5>
        <div class="info-content">
            <p data-bs-toggle="modal" data-bs-target="#infoModal">Do you need help?</p>
            <span class="material-symbols-outlined" style="color:  rgba(47, 79, 79, 0.74);">info</span>
        </div>
      </div>
    {% else %}
        <div class="welcome-user">
            <h3>Register now if you want to recycle! </h3>
        </div>
    {% endif %}    
</div>




<!-- llista tots els items -->
<div class="products-div">
    <div class="row">
      
        <div class="col-2">   
          <div class="list-group">
            <button type="button" class="btn btn-success shadow select-button" aria-current="true">
              Menu
            </button>
              {% for category in categories %}
                <a href="{% url 'products' category.id %}" class="list-group-item list-group-item-action">
                  {{ category }}
                </a>
              {% endfor %}                     
          </div>  
          
          <div style="margin-top: 10px;  text-align: center;">
            <!-- <button class="btn btn-success">Clear filters</button> -->
            <a class="link" href="{% url 'products' %}">Clear filters</a>
          </div>
        </div>       

        <div class="col-10">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for element in items %}    <!--Mostra tots els items que estan guardats a la BD -->
              
              <div class="col">
                <div class="card h-100">                  
                  <img src="{{element.ItemImage.url}}" class="card-img-top" alt="...">    
                  <div class="card-body">
                    <h5 class="card-title">{{ element }}</h5>
                    <p class="card-text">{{ element.ItemDescription }}</p>                    
                    
                  </div>
                  <div class="select-div">
                    <form method="GET" action="">
                      <button type="button" class="btn btn-success shadow select-button" data-bs-toggle="modal"  
                        data-bs-target="#selectItemModal" data-item-name="{{ element }}" 
                        data-item-points="{{ element.Category.CategoryPoints }}"
                        data-item-brand="{{ element.Category.CategoryBrands }}"
                        data-item-category="{{ element.Category}}">
                        Select  <!--al clicar select, es pasa tota la informacio del item al modal (Nom, punts, marques, categoria)-->
                      </button>                     
                    </form> 
                  </div>
                </div>                 
              </div>                         
            {% endfor %}
          </div>
        </div>   

        <style>
          .card {
            display: flex;
            flex-direction: column;
            height: 100%; 
            padding-top: 30px;
          }     
          .card-image-container {            
            flex: 1; 
            display: flex;
            justify-content: center;
            align-items: center;
          }        
          .card-img-top {
            width: 250px;
            height: 250px; 
            object-fit: cover; 
            margin: auto; 
          }
          .menu-button{
            background-color: #8daf73!important;
          }            
          .select-div{
            align-items: center;
            padding: 20px;

          }
          .select-button{
            width: 100%;           

          }                
          
          .material-symbols-outlined {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
          }


        </style>
      </div>  
</div>

<!-- select Modal (s'obra un modal "configurable" al seleccionar un item)-->
<div class="modal fade" id="selectItemModal" tabindex="-1" aria-labelledby="selectItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="selectItemModalLabel">Select Item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">          
            <div class="col-md-20">
              {% if request.user.is_authenticated %}                         
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">                      
                      <h3 id="modalItemName" name="new_item1">Item Name</h3> 
                      <!-- Item Name s'omple amb JS (script d'abaix) -->                    
                    </div>
                </div>
                <div class="card-body collapse show" id="requestDetails">
                    <div class="row">
                        <div id="units-div" class="col-md-2" style="width: 30%;">
                            <label><strong>Units:</strong></label>
                            <input type="number" value="1" min="1" class="form-control" id="itemUnits">
                        </div>
                        <div  id="weight-div" class="col-md-2" style="width: 40%;">
                            <label><strong>Weight (kg):</strong></string></label>
                            <input type="number" value="0" class="form-control" id="weight">
                        </div>
                        <div id="brand-div"  class="col-md-2" style="width: 30%;">
                          <label><strong>Brand:</strong></label>    
                          <select class="form-select" id="itemBrands">  
                            <!-- opcions s'omplen amb JS (script d'abaix) -->
                          </select> 
                        </div>                        
                        <div id="dimension-div"  class="col-md-6">
                         
                          <label><strong>Dimensions (cm):</strong></label>  
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="input-group">
                                      <div class="d-flex align-items-center">
                                          <p class="m-0" >Length&nbsp;</p>
                                      </div>                                      
                                      <input type="number" value="0" placeholder="Length" class="form-control" id="length">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="input-group">
                                      <div class="d-flex align-items-center">
                                          <p class="m-0" >Width&nbsp;</p>
                                      </div>                                      
                                      <input type="number" value="0" placeholder="Width" class="form-control" id="width">
                                  </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="input-group">
                                      <div class="d-flex align-items-center">
                                          <p class="m-0" >Depth&nbsp;</p>
                                      </div>                                      
                                      <input type="number" value="0" placeholder="Depth" class="form-control" id="depth">
                                  </div>
                              </div>
                          </div>
                        </div>                      
                        <div  id="status-div" class="col-md-2" style="width: 30%;">
                            <label><strong>Status:</strong></label>
                            <select class="form-control" id="itemStatus">
                                <option value="New">New</option>
                                <option value="Old">Old</option>
                                <option value="Used">Used</option>
                            </select>
                        </div>
                        <div id="points-div"  class="col-md-2" style="width: 30%;">
                            <label><strong>Points:</strong></label>   
                            <span class="form-control" id="modalItemPoints">Item Points</span>
                            <!-- <h3 id="modalItemName">Item Name</h3> -->
                        </div>                              
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label><strong>Observations:</strong></label>
                            <textarea id="observations" class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                </div>
                  
              {% else %}
                  <p>You need to be logged in to view this page.</p> 
              {% endif %}
          </div>
        </div>

        <div class="modal-footer">
          <form method="post" action="{% url 'requests' %}">
            {% csrf_token %}
            <!-- <input type="text" name="new_item"> -->
            <input type="hidden" id="itemData" name="item_data">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Item</button>
          </form>          
        </div>        

      </div>
    </div>
  </div>
</div>


<!-- modal d'informació sobre la pagina actual (Need help?) -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="infoModalLabel">Products page Information</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-md-20">
            <p>On this screen, you can select the item you wish to recycle. You can filter by item category. Choose from:</p>
            <ul>
              <li>Electronic device</li>
              <li>Appliance</li>
              <li>Furniture</li>
              <li>Toys</li>
            </ul>
            <p>Or materials such as:</p>
            <ul>
              <li>Plastic</li>
              <li>Glass</li>
              <li>Cardboard</li>
              <li>Metal</li>
            </ul>
            <p>Once you select the item, fill in its information to complete the selection. By clicking "Add item", you will save the item along with its characteristics in the "Requests in progress" menu.</p>
            <p>Remember, you can select more than one item. Just return to this page and select all the ones you want!</p>
          </div>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>
</div>





<!--Aquest script l'utilizo per passar la informacio de l'item que hem seleccionat cap al modal. Ja que sino desde el modal no puc accedir-->
<script>
  $(document).ready(function(){
      $('.select-button').click(function(){
          var itemName = $(this).data('item-name'); 
          var itemPoints = $(this).data('item-points');
          var itemCategory = $(this).data('item-category');          
          var itemBrandText = $(this).data('item-brand'); //obtinc les marques de la categoria en format ['brand1','brand2','brand3']          
         
          var cleanText = itemBrandText.replace(/^\[|\]$/g, ''); //elimino [] i ''         
          var itemBrand = cleanText.split(', '); //converteixo la cadena a una llista d'elements separats per ,

          $('#modalItemName').text(itemName); 
          $('#modalItemPoints').text(itemPoints);  
          $('#modalItemCategory').text(itemCategory);

          $('#modalItembrand').text(itemBrand.join(', ')); // Mostra els elements de la llista en una cadena separada por ,
          
          $('.form-select').empty(); //es buida el contingut del select
         
          $.each(itemBrand, function(index, value) { //omplo el select amb les opcions de la llista nova              
              value = value.replace(/^'|'$/g, ''); //torno a eliminar ''
              $('.form-select').append('<option>' + value.trim() + '</option>');  //afegeixo les opcions en els selects amb class= .form-select
          });

          if (itemCategory === 'Furniture') {
              $('#brand-div').hide();
          } else {
              $('#brand-div').show();
          }


          if (itemCategory === 'Electronic device') {
              $('#dimension-div').hide();
              $('#weight-div').hide();              
              
          } else {
              $('#dimension-div').show();
              $('#weight-div').show();              
          }          

          if (itemCategory === 'Plastic' || itemCategory === 'Glass' || itemCategory === 'Cardboard' || itemCategory === 'Metal') {
              $('#brand-div').hide();
              $('#dimension-div').hide();
              $('#status-div').hide();
              $('#units-div').hide();
          }  

          if (itemCategory === 'Toys') {
              $('#brand-div').hide();
              $('#weight-div').hide();  
              $('#dimension-div').hide();
              $('#status-div').show();
              $('#units-div').show();
          }  
          
          $('form').submit(function(event) {  

            if (itemCategory === 'Electronic device') {
              var itemData = {
                'units': $('#itemUnits').val(),
                'name': itemName,
                'points': itemPoints,
                'category': itemCategory,
                'brand': $('#itemBrands').val(),
                'status': $('#itemStatus').val(),
                'observations': $('#observations').val()                
              };
              $('#itemData').val(JSON.stringify(itemData));
            }else if (itemCategory === 'Appliance'){
              var itemData = {
                'units': $('#itemUnits').val(),
                'name': itemName,
                'points': itemPoints,
                'category': itemCategory,
                'brand': $('#itemBrands').val(),
                'status': $('#itemStatus').val(),
                'observations': $('#observations').val(),
                'weight': $('#weight').val(),
                'length': $('#length').val(),
                'width': $('#width').val(),
                'depth': $('#depth').val()
              };
              $('#itemData').val(JSON.stringify(itemData));
            } else if (itemCategory === 'Furniture'){
                var itemData = {
                  'units': $('#itemUnits').val(),
                  'name': itemName,
                  'points': itemPoints,
                  'category': itemCategory,                  
                  'status': $('#itemStatus').val(),
                  'observations': $('#observations').val(),
                  'weight': $('#weight').val(),
                  'length': $('#length').val(),
                  'width': $('#width').val(),
                  'depth': $('#depth').val()
                };
                $('#itemData').val(JSON.stringify(itemData));
            } else if (itemCategory === 'Toys'){
                var itemData = {
                  'units': $('#itemUnits').val(),
                  'name': itemName,
                  'points': itemPoints,
                  'category': itemCategory,                  
                  'status': $('#itemStatus').val(),
                  'observations': $('#observations').val(),
                  'weight': $('#weight').val()                  
                };
                $('#itemData').val(JSON.stringify(itemData));

            } else { //materials
                var itemData = {                  
                  'name': itemName,
                  'points': itemPoints,
                  'category': itemCategory,                  
                  'observations': $('#observations').val(),
                  'weight': $('#weight').val()                
                };
                $('#itemData').val(JSON.stringify(itemData));
            }
          });
      });
  });
</script>


{% endblock %}