{% extends 'ecoApp/base.html' %}

{% block content %}

{% load static %}

<div class="initial-content" style="margin-top: 60px;"> 
    <h2>PRODUCTS</h2>
    
    {% if request.user.is_authenticated %}
        <div class="welcome-user">
            <h3>Hello {{user}}, you have {{ user.profile.ProfilePoints }} points! </h3>
        </div>
    {% else %}
        <div class="welcome-user">
            <h3>Register now if you want to recycle! </h3>
        </div>
    {% endif %}    
</div>
<div class="products-div">
    <div class="row">
      
        <div class="col-2">   
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active menu-button" aria-current="true">
              Menu
            </button>
              {% for category in categories %}
                <a href="{% url 'products' category.id %}" class="list-group-item list-group-item-action">
                  {{ category }}
                </a>
              {% endfor %}                     
          </div>             
        </div>       

        <div class="col-10">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for element in items %}    <!--Mostra tots els items que estan guardats a la BD -->
              
              <div class="col">
                <div class="card h-100">                  
                  <img src="{{element.ItemImage.url}}" class="card-img-top" alt="...">    
                  <div class="card-body">
                    <h5 class="card-title">{{ element }}</h5>
                    <p class="card-text">{{ element.ItemDescription }}</p>
                    
                    
                  </div>
                  <div class="select-div">
                    <form method="GET" action="">
                      <button class="btn btn-success shadow select-button" type="submit">Select</button>
                    </form> 
                  </div>
                </div>                 
              </div>                         
            {% endfor %}
          </div>
        </div>   

        <style>
          .card {
            display: flex;
            flex-direction: column;
            height: 100%; 
            padding-top: 30px;
          }     
          .card-image-container {            
            flex: 1; 
            display: flex;
            justify-content: center;
            align-items: center;
          }        
          .card-img-top {
            width: 250px;
            height: 250px; 
            object-fit: cover; 
            margin: auto; 
          }
          .menu-button{
            background-color: #8daf73!important;
          }            
          .select-div{
            align-items: center;
            padding: 20px;

          }
          .select-button{
            width: 100%;           

          }
        </style>
      </div>  
</div>


{% endblock %}