{% extends 'ecoApp/base.html' %}

{% block content %}
{% load static %}

<div class="initial-content" style="margin-top: 60px;"> 
    <h2>REQUESTS HISTORY</h2>
    <div class="welcome-user">
        <h5>Hello {{ request.user.username }}, view your requests here!</h5>    
        <div class="info-content">
            <p data-bs-toggle="modal" data-bs-target="#infoModal">Do you need help?</p>
            <span class="material-symbols-outlined" style="color:  rgba(47, 79, 79, 0.74);">info</span>
        </div>
    </div>  
</div>

{% if user_requests %}
    <div class="table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Creation Date</th>  
                    <th>Home Pickup</th>
                    <th>Pickup Date</th>
                    <th>Address</th>
                    <th>Delivery</th>
                    <th>Delivery Address</th>       
                    <th>Points</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for request in user_requests %}
                <tr>
                    <td>{{ request.OrderCreationDate }}</td> 
                    <td>{% if request.OrderHomePickup %}Yes{% else %}No{% endif %}</td>
                    <td>{{ request.OrderPickupDate }}</td>
                    <td>{{ request.OrderAddress }}</td>
                    <td>{% if request.OrderDelivery %}Yes{% else %}No{% endif %}</td>
                    <td>{{ request.OrderDeliveryAddress }}</td>                       
                    <td>{{ request.OrderPoints }}</td>
                    {% if request.OrderStatus == 'Accepted' %}
                    <td style="color: green; font-weight: bold;"><strong>{{ request.OrderStatus }}</strong></td>
                    {% elif request.OrderStatus == 'Denied' %}
                    <td style="color: red; font-weight: bold;"><strong>{{ request.OrderStatus }}</strong></td>
                    {% else %}
                    <td style="font-weight: bold;"><strong>{{ request.OrderStatus }}</strong></td>
                    {% endif %}

                    <td class="align-middle">
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#orderlines-{{ request.id }}" aria-expanded="false" aria-controls="orderlines-{{ request.id }}">
                            Show Details
                        </button>                        
                    </td>
                </tr>
                <tr class="collapse" id="orderlines-{{ request.id }}">
                    <td colspan="9">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Units</th>
                                    <th>Weight</th>
                                    <th>Brand</th>
                                    <th>Height</th>
                                    <th>Depth</th>
                                    <th>Width</th>
                                    <th>Status</th>
                                    <th>Observations</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for orderline in request.orderlines.all %}
                                <tr>
                                    <td>{{ orderline.OrderlineItem }}</td>
                                    <td>{{ orderline.OrderlineUnits }}</td>
                                    <td>{{ orderline.OrderlineWeight }}</td>
                                    <td>{{ orderline.OrderlineBrand }}</td>
                                    <td>{{ orderline.OrderlineHeight }}</td>
                                    <td>{{ orderline.OrderlineDepth }}</td>
                                    <td>{{ orderline.OrderlineWidth }}</td>
                                    <td>{{ orderline.OrderlineStatus }}</td>
                                    <td>{{ orderline.OrderlineObservations }}</td>
                                    <td>{{ orderline.OrderlinePoints }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>     


    <!-- modal d'informació sobre la pagina actual (Need help?) -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="infoModalLabel">Products page Information</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-20">
                <p>On this screen, you can see a summary of all the requests you have made.</p>
                <p>Here you can see the status of these requests. There are 3 statuses:</p>
                <ul>
                    <li><a style="font-weight: bold;">Pending approval:</a> You have submitted the request and it is pending approval or denial by the administrator.</li>
                    <li><a style="font-weight: bold;">Accepted:</a> You have submitted the request and it has been accepted.</li>
                    <li><a style="font-weight: bold;">Denied:</a> You have submitted the request and it has been denied.</li>
                </ul>
                <p>In addition to the general details of your requests, you can see the characteristics of each one in more detail by clicking the “Show Details” button.</p>
                <p>If your request is accepted (status: Accepted), the total points of that request will be reflected in your user points (top right corner of the screen).</p>
                <p>If your request is denied (status: Denied), the total points of that request will not be added.</p>
                <p>Remember that if you submit a request, if a request is accepted, or if a request is denied, you will receive a confirmation email so you can always know the status of your requests!</p>
                </div>
            </div>
            <div class="modal-footer">
            </div>
            </div>
        </div>
        </div>
    </div>
        
    

    <style>
        .table-container table td, .table-container table th {
            vertical-align: middle;
        }
    </style>
        
{% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: 25vw !important; margin-left: 30px !important; margin-right: -15px !important;">
        You don't have requests yet.       
    </div>
{% endif %}

{% endblock %}
