{% extends 'ecoApp/base.html' %}

{% block content %}
{% load static %}

<div class="initial-content" style="margin-top: 60px;"> 
    <h2>REQUESTS IN PROGRESS</h2>
    <div class="welcome-user">
        <h5>Confirm your requests here!</h5>
        <div class="info-content">
            <p data-bs-toggle="modal" data-bs-target="#infoModal">Do you need help?</p>
            <span class="material-symbols-outlined" style="color:  rgba(47, 79, 79, 0.74);">info</span>
        </div>
    </div>  
</div>


{% if session_items %}
<div class="row justify-content-center mt-4">
    <div class="col-md-7">   
        <div class="row justify-content-center">
            <div class="col-md-9">
                {% for item in session_items %}
                    <div class="request-container mb-4">
                        {% if item.category == 'Electronic device' %}
                            <div class="requests-cards" data-index="{{ forloop.counter0 }}">
                                <div class="card-body">
                                    <h2 class="card-title mb-4">{{ item.name }}</h2>
                                    <div class="row">
                                        <div class="col-md-4 " style="border-right: 1px solid #ccc;">
                                            <p><strong>Units:</strong> {{ item.units }} </p>
                                            <p><strong>Points:</strong> {{ item.points }}</p>
                                            <p><strong>Category:</strong> {{ item.category }}</p>
                                            <p><strong>Brand:</strong> {{ item.brand }}</p>
                                            <p><strong>Status:</strong> {{ item.status }}</p>
                                        </div>
                                        <div class="col-md-6" style="margin-left: 30px;">
                                            <p><strong>Observations:</strong></p>
                                            <p>{{ item.observations }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <form action="{% url 'requests' %}" method="post">
                                        {% csrf_token %}
                                        <input  type="hidden" name="delete_item_index" value="{{ forloop.counter0 }}">
                                        <button type="submit" class="btn btn-danger delete-btn">Delete</button> 
                                    </form>
                                </div>                                
                            </div>                            
                        {% endif %}

                        {% if item.category == 'Appliance' %}
                            <div class="requests-cards" data-index="{{ forloop.counter0 }}">
                                <div class="card-body">
                                    <h2 class="card-title mb-4">{{ item.name }}</h2>
                                    <div class="row">
                                        <div class="col-md-4" style="border-right: 1px solid #ccc;">                                            
                                            <p><strong>Units:</strong> {{ item.units }}</p>
                                            <p><strong>Points:</strong> {{ item.points }}</p>
                                            <p><strong>Category:</strong> {{ item.category }}</p>
                                            <p><strong>Brand:</strong> {{ item.brand }}</p>
                                            <p><strong>Status:</strong> {{ item.status }}</p>
                                            <p><strong>Weight:</strong> {{ item.weight }} kg</p>                                    
                                            <p><strong>Dimensions:</strong> {{ item.length }}cm x {{ item.width }}cm x {{ item.depth }}cm</p>
                                        </div>
                                        <div class="col-md-6" style="margin-left: 30px;">                                            
                                            <p><strong>Observations:</strong></p>
                                            <p>{{ item.observations }}</p>
                                        </div>
                                    </div>    
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <form action="{% url 'requests' %}" method="post">
                                        {% csrf_token %}
                                        <input  type="hidden" name="delete_item_index" value="{{ forloop.counter0 }}">
                                        <button type="submit" class="btn btn-danger delete-btn">Delete</button> 
                                    </form>
                                </div>
                            </div>
                            
                        {% endif %}

                        {% if item.category == 'Furniture' %}
                            <div class="requests-cards" data-index="{{ forloop.counter0 }}">
                                <div class="card-body">
                                    <h2 class="card-title mb-4">{{ item.name }}</h2>
                                    <div class="row">
                                        <div class="col-md-4 " style="border-right: 1px solid #ccc;">
                                            <p><strong>Units:</strong> {{ item.units }} </p>
                                            <p><strong>Points:</strong> {{ item.points }}</p>
                                            <p><strong>Category:</strong> {{ item.category }}</p>                                            
                                            <p><strong>Status:</strong> {{ item.status }}</p>
                                            <p><strong>Weight:</strong> {{ item.weight }} kg</p>                                    
                                            <p><strong>Dimensions:</strong> {{ item.length }}cm x {{ item.width }}cm x {{ item.depth }}cm</p>
                                        </div>
                                        <div class="col-md-6" style="margin-left: 30px;">
                                            <p><strong>Observations:</strong></p>
                                            <p>{{ item.observations }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <form action="{% url 'requests' %}" method="post">
                                        {% csrf_token %}
                                        <input  type="hidden" name="delete_item_index" value="{{ forloop.counter0 }}">
                                        <button type="submit" class="btn btn-danger delete-btn">Delete</button> 
                                    </form>
                                </div>                                
                            </div>                            
                        {% endif %}

                        {% if item.category == 'Plastic' or item.category == 'Glass' or item.category == 'Metal' or item.category == 'Cardboard' %}  
                            <div class="requests-cards" data-index="{{ forloop.counter0 }}">
                                <div class="card-body">
                                    <h2 class="card-title mb-4">{{ item.name }}</h2>
                                    <div class="row">
                                        <div class="col-md-4 " style="border-right: 1px solid #ccc;">                                           
                                            <p><strong>Points:</strong> {{ item.points }}</p>
                                            <p><strong>Category:</strong> {{ item.category }}</p>                                            
                                            <p><strong>Weight:</strong> {{ item.weight }} kg</p>          
                                        </div>
                                        <div class="col-md-6" style="margin-left: 30px;">
                                            <p><strong>Observations:</strong></p>
                                            <p>{{ item.observations }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <form action="{% url 'requests' %}" method="post">
                                        {% csrf_token %}
                                        <input  type="hidden" name="delete_item_index" value="{{ forloop.counter0 }}">
                                        <button type="submit" class="btn btn-danger delete-btn">Delete</button> 
                                    </form>
                                </div>                                
                            </div>        
                        {% endif %}


                        {% if item.category == 'Toys' %}   
                            <div class="requests-cards" data-index="{{ forloop.counter0 }}">
                                <div class="card-body">
                                    <h2 class="card-title mb-4">{{ item.name }}</h2>
                                    <div class="row">
                                        <div class="col-md-4 " style="border-right: 1px solid #ccc;">   
                                            <p><strong>Units:</strong> {{ item.units }} </p>                                        
                                            <p><strong>Points:</strong> {{ item.points }}</p>
                                            <p><strong>Category:</strong> {{ item.category }}</p>    
                                            <p><strong>Status:</strong> {{ item.status }}</p>                                                
                                        </div>
                                        <div class="col-md-6" style="margin-left: 30px;">
                                            <p><strong>Observations:</strong></p>
                                            <p>{{ item.observations }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <form action="{% url 'requests' %}" method="post">
                                        {% csrf_token %}
                                        <input  type="hidden" name="delete_item_index" value="{{ forloop.counter0 }}">
                                        <button type="submit" class="btn btn-danger delete-btn">Delete</button> 
                                    </form>
                                </div>                                
                            </div>        
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-3 ">        
        <div class="total-requests-card mb-4 ">
            <form id="form-request" method="post" action="{% url 'create_order' %}">
                {% csrf_token %}
                <h2>Total Request</h2>
                <div class="card-body">   
                    <input type="hidden" id="total-points-input" name="total_points">             
                    <p>Total Points: <span id="total-points" class="points-total">0</span></p>                
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="home-delivery" name="home_pickup" onchange="toggleCheckbox('home-delivery', 'pickup-point'); homePickup()">
                        <label class="form-check-label" for="home-delivery">Home pickup</label>
                    </div>    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="pickup-point" name ="pick_up_point" onchange="toggleCheckbox('pickup-point', 'home-delivery'); pickUpPoint()">
                        <label class="form-check-label" for="pickup-point">Select delivery point</label>
                    </div>           
                    
                    
                    <div id="pickup-list" style="display: none;">
                        <div class="form-group">
                            <br>
                            <label for="delivery-address">Select delivery address:</label>
                            <select id="delivery-address" name="address_delivery" class="form-control">
                                <option value="Carrer Comte d'Urgell, 230">Carrer Comte d'Urgell, 230</option>
                                <option value="Carrer Viladomat, 42">Carrer Viladomat, 42</option>
                                <option value="Carrer Mallorca, 13">Carrer Mallorca, 13</option>
                            </select>
                            <br>
                        </div>
                    </div>                 

                    <div id="date-input-container" style="display: none;">
                        <br><br>
                        <label for="pickup-date">Select pickup date:</label>
                        <input type="date" id="pickup-date" name="pickup_date" class="custom-date-input">
                        <br><br>
                        
                        <label for="delivery-address">Pickup address:</label>
                        <input type="text" id="delivery-address" name="delivery_address" class="custom-date-input">
                    </div>


                    <button type="submit" class="btn btn-primary mt-2" id="send-request-btn">Send Request</button>
                </div>  
            </form>
                         
        </div>
    </div>    
</div>
{% else %}
    <div class="alert alert-warning alert-dismissible show" role="alert" style="width: 25vw !important; margin-left: 30px !important; margin-right: -15px !important; animation: fade-up 0.7s;">
        You haven't made requests yet.       
    </div>
{% endif %}



<!-- modal d'informació sobre la pagina actual (Need help?) -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="infoModalLabel">Requests in progress Information</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="col-md-20">
              <p>On this screen, you can see a summary of the items you have chosen in the “Products” menu. Each card represents an item pending in your request, and on each card, you can see the information you previously filled in. Depending on the characteristics of the item, you will see different information in the summary.</p>
              <p>If you want to delete an item from your request, you can do so by clicking the “Delete” button located at the bottom right of each card.</p>
              <p>On the right side of the screen, you will see a section that displays the information of your total request. You can see:</p>
              <ul> 
                <li>The total number of points you will earn by recycling the items you have selected.</li>
                <li>A checkbox to have the selected items picked up from your home.</li>
                <li>A checkbox to deliver the selected items yourself to one of our official collection points.</li>                
              </ul>
              <p>Depending on your choice, you will need to fill in the fields for “Pickup Date,” “Pickup Address,” or “Delivery Address”.</p>
              <p>Once you agree with your request, send it using the “Send Request” button. You can view your request in the “My requests” menu.</p>
            </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>

<style>
    .custom-date-input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;   
        background-color: white;
        color: black;     
    }
    
    .custom-date-input:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
    }


</style>

<script> 
    function calcularPuntosTotales() {
        var totalPuntos = 0;        
        var solicitudes = document.querySelectorAll('.request-container');       
        var unidades, puntos;

        solicitudes.forEach(function(solicitud) {             
            var elementosP = solicitud.querySelectorAll('p');  
            var isMaterial = false;
            
            elementosP.forEach(function(elemento) {
                if (elemento.textContent.includes("Plastic") || elemento.textContent.includes("Glass") || elemento.textContent.includes("Metal") || elemento.textContent.includes("Cardboard")) {
                    isMaterial = true;
                }
            });

            elementosP.forEach(function(elemento) {  
                if (isMaterial) {
                    if (elemento.textContent.includes("Weight")) {
                        unidades = parseInt(elemento.textContent.split(":")[1].trim());
                    }
                } else {
                    if (elemento.textContent.includes("Units")) {
                        unidades = parseInt(elemento.textContent.split(":")[1].trim());
                    }
                }
                if (elemento.textContent.includes("Points")) {
                    puntos = parseInt(elemento.textContent.split(":")[1].trim());
                }
            });

            if (!isNaN(unidades) && !isNaN(puntos)) {
                totalPuntos += unidades * puntos;
            }
        });

        document.getElementById('total-points').textContent = totalPuntos;
        document.getElementById('total-points-input').value = totalPuntos;
        
        session.puntos = totalPuntos;        
    }               
    
    function homePickup() {
        var checkBox = document.getElementById('home-delivery');
        var dateInputContainer = document.getElementById('date-input-container');
        var pickUpList = document.getElementById('pickup-list');

        if (checkBox.checked) {
            dateInputContainer.style.display = 'block';
            if (pickUpList) pickUpList.style.display = 'none'; 
        } else {
            dateInputContainer.style.display = 'none';
        }
    }
    flatpickr("#pickup-date", {
        minDate: "today",
        disable: [
            function(date) {                
                return (date.getDay() === 0 || date.getDay() === 6);
            }
        ],
        dateFormat: "Y-m-d",
    });
    function pickUpPoint() {
        var checkBox = document.getElementById('pickup-point');
        var pickUpList = document.getElementById('pickup-list');
        var dateInputContainer = document.getElementById('date-input-container');

        if (checkBox.checked) {
            pickUpList.style.display = 'block';
            dateInputContainer.style.display = 'none'; 
        } else {
            pickUpList.style.display = 'none';
        }
    }
    function toggleCheckbox(id, otherId) {
        var checkbox = document.getElementById(id);
        var otherCheckbox = document.getElementById(otherId);
        if (checkbox.checked) {
            otherCheckbox.checked = false;
        }
    }

    window.onload = function() {
        calcularPuntosTotales();
    };
</script>

{% endblock %}
