{% extends 'ecoApp/base.html' %}

{% block content %}
{% load static %}

<div class="initial-content" style="margin-top: 60px;"> 
    <h2>REQUESTS IN PROGRESS</h2>
    <div class="welcome-user">
        <h3>Hello {{ request.user.username }}, modify your requests here!</h3>
    </div>  
</div>



{% for item in session_items %}

<!-- <div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            {% if request.user.is_authenticated %}        
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>{{ item.name }}</span>
                            <button class="btn btn-sm btn-link toggle-details" type="button" data-bs-toggle="collapse" data-bs-target="#requestDetails" aria-expanded="true" aria-controls="requestDetails">
                                <i class="bi bi-chevron-up"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body collapse show" id="requestDetails">
                        <div class="row">
                            <div class="col-md-2">
                                <label>Units:</label>
                                <input type="number" value="5" min="1" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Weight (kg):</label>
                                <input type="text" value="10" class="form-control">
                            </div>
                            <div class="col-md-2">
                                <label>Brand:</label>
                                <select class="form-select">
                                    <option value="BrandA">Brand A</option>
                                    <option value="BrandB">Brand B</option>
                                    <option value="BrandC">Brand C</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label>Dimensions (cm):</label>
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class=""></i></span>
                                            <input type="text" value="120" placeholder="Length" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class=""></i></span>
                                            <input type="text" value="60" placeholder="Width" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class=""></i></span>
                                            <input type="text" value="60" placeholder="Depth" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label>Status:</label>
                                <select class="form-select">
                                    <option value="New">New</option>
                                    <option value="Old">Old</option>
                                    <option value="Used">Used</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label>Points:</label>
                                <span class="form-control">{{ item.points }}</span>
                            </div>
                            <div class="col-md-12">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input"> Take from home
                                </label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label>Observations:</label>
                                <textarea class="form-control" rows="2">Esto es un ejemplo de observación para las solicitudes del usuario.</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>You need to be logged in to view this page.</p>
            {% endif %}
        </div>
        
    </div>
</div>  -->
<div class="row justify-content-center">
    <div class="col-md-9">
        {% for item in session_items %}
            <div class="request-container mb-4">
                {% if item.category == 'Electronic device' %}
                    <div class="requests-cards">
                        <div class="card-body">
                            <h2 class="card-title">{{ item.name }}</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Units:</strong> {{ item.units }}</p>
                                    <p><strong>Points:</strong> {{ item.points }}</p>
                                    <p><strong>Category:</strong> {{ item.category }}</p>
                                    <p><strong>Brand:</strong> {{ item.brand }}</p>
                                    <p><strong>Status:</strong> {{ item.status }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Observations:</strong></p>
                                    <p>{{ item.observations }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if item.category == 'Appliance' %}
                    <div class="requests-cards">
                        <div class="card-body">
                            <h2 class="card-title">{{ item.name }}</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>Units:</strong> {{ item.units }}</p>
                                    <p><strong>Points:</strong> {{ item.points }}</p>
                                    <p><strong>Category:</strong> {{ item.category }}</p>
                                    <p><strong>Brand:</strong> {{ item.brand }}</p>
                                    <p><strong>Status:</strong> {{ item.status }}</p>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>Observations:</strong></p>
                                    <p>{{ item.observations }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

    
    
{% endfor %}
<!-- <div class="col-md-4">
    <div class="card">
        <div class="card-header">
            Request
        </div>
        <div class="card-body">                    
            <p class="card-text">Total points of all requests: <strong>25</strong></p>
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input"> Take from home
            </label>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-primary">Send Request</button>
        </div>
    </div>
</div> -->
{% endblock %}
