{% extends 'ecoApp/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<!-- confirmacio d'eliminacio del compte -->
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="loginRegister-container">            
            <div class="card-body">
                <form id="form-delete" method="post" action="" class="p-3">
                    {% csrf_token %}
                    {{ form | crispy }}    
                    <h4 style="text-align: center; color: #2e6c2596">Are you sure you want to delete your account?</h4>
                    
                    <div class="d-flex justify-content-center gap-2 mt-4"> 
                        <a class="btn btn-outline-success" href="{% url 'profile' %}">Return profile</a>
                        <button type="submit" id="btn-registrar" class="btn btn-outline-danger">Delete account</button>                                        
                    </div>
                </form>                 
            </div>
        </div>
    </div>
</div>


{% endblock %}