{% extends 'ecoApp/base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="aboutus-container">
            <h5 class="card-header">Login</h5>
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <p>Tu usuario y contraseña no coinciden. Intentalo de nuevo</p>
                    </div>
                {% endif %}

                <form id="form-login" method="post" action="">
                    {% csrf_token %}

                    <div class="w450" id="username">
                        {{ form.username }}
                    </div>
                    <div class="w450" id="password">
                        {{ form.password }}
                    </div>
                    <button id="btn-registrar" class="button_large">Entrar</button>
                    <div class="clearfix"></div>
                </form>
                
            </div>
        </div>
    </div>
</div> 
    
{% endblock %}