{% extends 'ecoApp/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="loginRegister-container">            
            <div class="card-body"> 
                <h4 style="text-align: center; color: #2e6c2596">Your password has been changed!</h4>                                          
                <a class="btn btn-outline-success" href="{% url 'profile' %}"><i class="fa-solid fa-lock "></i>Return profile</a>
            </div>
        </div>
    </div>
</div> 


{% endblock %}