{% extends 'ecoApp/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="loginRegister-container">
            <h5 class="card-header">Change password</h5>
            <div class="card-body"> 
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <button type="submit" id="btn-changePassword" class="btn btn-outline-success">Change Password</button>
                    {% if messages %}                            
                        {% for message in messages %}
                            <h4 {% if message.tags %} class="{{ message.tags }}"{% endif %} style="text-align: center;"">{{ message }}</h4>
                        {% endfor %}                            
                    {% endif %}
                </form>                                                
            </div>
        </div>
    </div>
</div> 


{% endblock %}